*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 5%;
}
.filho{
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
    border: 1px solid;
}
h2{
    font-size: 25px;
}
p{
    color: red;
}